@model mywebsite.ViewModels.Home.IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

@section css {

}

@section script {

}

<!--Right content-->
<div class="col-md-9 right-content">
    @Html.Partial("_AboutSection")

    @Html.Partial("_PortfolioSection")

    @Html.Partial("_BlogSection")

    @Html.Partial("_ContactSection")
</div>
<!--End right content-->