@model mywebsite.ViewModels.About.IndexViewModel
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

@{
    Html.RenderPartial("partial/Carousel", Model.CarouselResources);
}
    <div class="row"><div class="col-md-4 center"><h2>Index</h2></div></div>


