<header id="header">
    <div class="main-header">
        <figure class="img-profile">
            <img src="~/Content/img/jconnor_profile.jpg" alt="" />

            @*<figcaption class="name-profile">
                <span>Carlose smith <sup>&reg;</sup></span>
            </figcaption>*@

        </figure>

        <!--Main navigation-->
        <nav id="main-nav" class="main-nav clearfix tabbed">
            <ul>
                <li><a href="#about"><i class="fa fa-user"></i>About</a></li>
                <li><a href="#portfolio"><i class="fa fa-folder-open-o"></i>Portfolio</a></li>
                <li><a href="#blog"><i class="fa fa-comment"></i>Blog</a></li>
                <li><a href="#contact"><i class="fa fa-mobile"></i>Contact</a></li>
            </ul>
        </nav>
        <!--End main navigation-->
    </div>

    <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
        <ul class="social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

        </ul>

        @*<p>&copy; 2015 Mutationthemes.</p>*@
    </div>
</header>
